@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
    font-size: 15px;
    font-family: helvetica, sans-serif;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    --green: rgb(67, 212, 140);
}

body {
    margin: 0;
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: auto 1fr;
    height: 100vh;
}

#header {
    grid-column: 1/3;
    background-color: var(--green);
    color: rgb(255, 255, 255);
    font-family: Roboto, sans-serif;
    font-weight: bolder;
    padding: 8px 24px;
    font-size: 1.5rem;
    display: flex;
    gap: 1rem;
    align-items: center;
}

#logo {
    height: 30px;
    width: 30px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

#sidebar {
    background-color: rgb(240, 240, 240);
    padding: 24px;
    font-weight: 500;
    border-right: 1px solid rgb(184, 184, 184);
    position: relative;
}

#sidebar img {
    height: 1.5rem;
    width: auto;
}

.menu,
.submenu {
    padding: 4px 0px;
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.menu:hover,
.submenu:hover {
    font-weight: bolder;
    opacity: 0.8;
}

#project-container {
    padding: 8px 15px;
}

#main {
    background-color: white;
    padding: 55px 100px 30px 55px;
}

.title {
    font-weight: bold;
    font-size: 1.3rem;
    margin-bottom: 1rem;
    display: flex;
    gap: 1.3rem;
}

#projectDeleteButton {
    background-color: lightgrey;
    color: grey;
    opacity: 0.3;
    font-size: 1rem;
    font-weight: bold;
    border: 0;
    height: 1.3rem;
    width: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
}

#projectDeleteButton:hover {
    opacity: 1;
    background-color: rgb(235, 176, 176);
    color: rgb(224, 90, 90);
}

.todo {
    border-bottom: 1px solid whitesmoke;
    padding: 8px 8px;
    display: grid;
    grid-template-columns: auto 1fr auto 100px auto;
    align-items: center;
    column-gap: 1rem;
    row-gap: 0.5rem;
}

.todo-completed {
    border-bottom: 1px solid whitesmoke;
    padding: 8px 8px;
    display: grid;
    grid-template-columns: auto 1fr auto 100px auto;
    align-items: center;
    column-gap: 1rem;
    row-gap: 0.5rem;
    text-decoration: line-through;
    opacity: 0.5;
}

.todo:hover {
    background-color: whitesmoke;
}

.project-label {
    grid-column: 4;
    font-size: 0.85rem;
    color: rgb(80, 80, 80);
    justify-self: right;
}

.priority-normal,
.priority-med,
.priority-high {
    grid-column: 5;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
}

.priority-normal {
    background-color: rgb(190, 190, 190);
}

.priority-med {
    background-color: orange;
}

.priority-high {
    background-color: red;
}

.todo-expanded {
    grid-column: 1/6;
    font-size: 0.9rem;
    font-style: italic;
    color: rgb(49, 49, 49);
    padding: 0px 0px 0px 40px;
}

.expanded-todo-button-container {
    margin-top: 8px;
    text-align: right;
}

.expanded-todo-button-container button {
    background-color: rgba(255, 255, 255, 0);
    color: rgb(167, 167, 167);
    border: 1px solid rgb(167, 167, 167);
    border-radius: 5px;
    margin-right: 15px;
    font-size: 0.7rem;
}

#edit-todo-button:hover {
    border-color: orange;
    color: orange;
    background-color: rgba(255, 166, 0, 0.1);
}

#trash-todo-button:hover {
    border-color: red;
    color: red;
    background-color: rgba(255, 0, 0, 0.1);
}

#add-todo-button {
    background-color: var(--green);
    color: white;
    font-size: 2rem;
    border: 0;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: fixed;
    bottom: 60px;
    right: 60px;
    cursor: pointer;
}

#add-todo-button:hover {
    box-shadow: 0px 0px 4px grey;
    opacity: 0.9;
}

#overlay {
    background-color: white;
    opacity: 0.4;
    z-index: 1000;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.todo-popup {
    background-color: white;
    z-index: 2000;
    position: fixed;
    height: 320px;
    width: 50vw;
    top: 50%;
    left: 50%;
    margin-top: -160px;
    margin-left: -25vw;
    border-radius: 8px;
    box-shadow: 0px 0px 5px grey;
}

#add-todo-header {
    background-color: var(--green);
    color: white;
    font-weight: bold;
    border-radius: 8px 8px 0 0;
    padding: 8px 15px;
}

#edit-todo-header {
    background-color: orange;
    color: white;
    font-weight: bold;
    border-radius: 8px 8px 0 0;
    padding: 8px 15px;
}

.todo-popup-content {
    padding: 8px 50px;
    display: grid;
    gap: 8px;
    grid-template-columns: 200px 1fr;
    align-items: center;
}

.input-todo-title {
    grid-column: 1/3;
    border: 0;
    font-size: 1rem;
    border-bottom: 1px solid grey;
    height: 2rem;
}

.input-todo-description {
    grid-column: 1/3;
    border: 0;
    font-family: roboto, sans-serif;
    resize: none;
    font-size: 1rem;
    border-bottom: 1px solid grey;
}

.todo-popup-content label {
    justify-self: end;
}

.todo-popup-content input[type="date"],
.todo-popup-content select {
    border: 0;
    background-color: rgb(238, 238, 238);
    width: 270px;
    height: 1.5rem;
    justify-self: start;
}

.todo-popup-button-container {
    grid-column: 1/3;
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 12px;
}

.todo-popup button {
    width: 100px;
    border: 0;
    border-radius: 8px;
    padding: 8px;
    color: white;
    font-weight: bold;
    background-color: grey;
}

.todo-popup button:hover,
#add-project-popup button:hover,
#delete-project-popup button:hover {
    box-shadow: 0px 0px 4px grey;
    opacity: 0.9;
}

.todo-popup .todo-popup-save {
    background-color: var(--green);
}

#add-project-button {
    margin-left: 100px;
    font-weight: bolder;
    font-size: 1.5rem;
    color: red;
}

#add-project-button:hover {
    transform: scale(1.3);
    opacity: 0.7;
    cursor: pointer;
}

#add-project-popup {
    background-color: white;
    z-index: 2000;
    position: absolute;
    height: 130px;
    width: 250px;
    top: 124px;
    left: 240px;
    border-radius: 8px;
    box-shadow: 0px 0px 5px grey;
}

#add-project-header {
    background-color: var(--green);
    color: white;
    font-weight: bold;
    border-radius: 8px 8px 0 0;
    padding: 8px 15px;
}

#add-project-title {
    border: 0;
    font-size: 1rem;
    margin: 8px 24px 0px 24px;
    border-bottom: 1px solid grey;
    height: 2rem;
}

#add-project-button-container,
#delete-project-button-container {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 12px;
}

#add-project-popup button,
#delete-project-popup button {
    width: 80px;
    border: 0;
    border-radius: 8px;
    padding: 6px;
    color: white;
    font-weight: bold;
    background-color: grey;
    font-size: 0.8rem;
}

#add-project-popup #add-project-save {
    background-color: var(--green);
}

#delete-project-popup {
    background-color: white;
    z-index: 2000;
    position: fixed;
    height: 160px;
    width: 400px;
    top: 50%;
    left: 50%;
    margin-top: -80px;
    margin-left: -200px;
    border-radius: 8px;
    box-shadow: 0px 0px 5px grey;
}

#delete-project-header {
    background-color: rgb(252, 86, 86);
    color: white;
    font-weight: bold;
    border-radius: 8px 8px 0 0;
    padding: 8px 15px;
}

#delete-project-confirm {
    padding: 16px;
}

#delete-project-popup #delete-project-button {
    background-color:rgb(252, 86, 86);
}

.bold {
    font-weight: bolder;
}